@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Sanchez&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100vw;
}
body nav {
  background-color: #F9A219;
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
body nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-flow: row;
  font-family: "Sanchez", serif;
  font-style: bold;
}
body nav ul li {
  float: left;
}
body nav ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: black;
  text-decoration: none;
}
body nav ul li a:hover {
  display: block;
  text-align: center;
  padding: 14px 16px;
  color: black;
  text-decoration: underline;
}
body #home {
  height: 90vh;
  background-image: url("../images/blur.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
body #home #container {
  display: flex;
  justify-content: center;
  flex-flow: row;
  font-family: "Sanchez", serif;
}
body #home #container img {
  width: 60vh;
}
body #home #container h1 {
  font-size: 20vh;
  margin: 0;
  padding: 0;
  color: #F9A219;
}
body #home #container h2 {
  font-size: 14vh;
  margin: 0;
  padding: 0;
  color: white;
}
body #novinky {
  height: 100vh;
  background-color: #E6E6E6;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}
body #novinky h1 {
  font-size: 6vh;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Sanchez", serif;
}
body #novinky p {
  color: #A2A2A2;
}
body #novinky #container {
  display: flex;
  justify-content: center;
  flex-flow: row;
}
body #novinky #container img {
  margin: 6vh;
  height: 42vh;
}
body #program {
  padding-top: 2vh;
  padding-bottom: 8vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}
body #program h1 {
  font-size: 6vh;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Sanchez", serif;
}
body #program p {
  color: #A2A2A2;
}
body #program table {
  margin-right: 28vh;
  margin-left: 28vh;
}
body #program table tr:first-child {
  background-color: #303030;
  color: #FFFFFF;
}
body #program table tr:first-child th:first-child {
  background-color: #FFFFFF;
}
body #program table tr td:first-child {
  text-align: left;
  font-weight: bold;
  background-color: #F9A219;
}
body #program table tr td {
  padding: 2vh;
  font-size: 2vh;
  background-color: #E6E6E6;
}
body #program table tr td p {
  padding: 0;
  margin: 0;
  color: #777777;
}
body #nakup {
  background-color: #E6E6E6;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 4vh;
}
body #nakup h1 {
  font-size: 6vh;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Sanchez", serif;
}
body #nakup p {
  color: #A2A2A2;
}
body #nakup h2 {
  font-size: 6vh;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #F9A219;
}
body #banner {
  padding-top: 6vh;
  padding-bottom: 6vh;
  padding-right: 46vh;
  padding-left: 46vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}
body #kontakt {
  padding-top: 4vh;
  padding-bottom: 10vh;
  height: auto;
  background-color: #E6E6E6;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}
body #kontakt h1 {
  font-size: 6vh;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Sanchez", serif;
}
body #kontakt p {
  color: #A2A2A2;
  font-size: 2vh;
}
body #kontakt #container {
  display: flex;
  justify-content: center;
  flex-flow: row;
  text-align: center;
}
body #kontakt #container #ucebna {
  margin-top: 4vh;
  padding-left: 8vh;
  padding-right: 8vh;
  margin-bottom: 0;
  padding-bottom: 0;
  outline-style: dotted;
  outline-color: #A2A2A2;
  /*height: 10vh;*/
}
body #kontakt #container #ucebna h1 {
  font-size: 4vh;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #F9A219;
  font-family: none;
  margin-top: 2vh;
}
body #kontakt #container #ucebna h2 {
  margin-bottom: 0;
}
body #kontakt #container #ucebna p {
  padding-top: 0;
  margin-top: 0;
  color: #A2A2A2;
  margin-bottom: 2vh;
}
body #footer {
  padding: 4vh;
  background-color: #212121;
  color: white;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}
body #footer p {
  margin: 0;
  padding: 0;
}
body #footer p:nth-last-child(-n+2) {
  margin: 0;
  padding: 0;
  color: #A2A2A2;
}
body #footer p:nth-last-child(-n+2) b {
  color: white;
}/*# sourceMappingURL=theme.css.map */